USE [master]
GO
/****** Object:  Database [SodetsoUsersManagement]    Script Date: 5/31/2022 8:44:13 AM ******/
CREATE DATABASE [SodetsoUsersManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SodetsoUsersManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SodetsoUsersManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SodetsoUsersManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SodetsoUsersManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SodetsoUsersManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SodetsoUsersManagement]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/31/2022 8:44:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [bigint] IDENTITY(1,1) NOT NULL,
	[Firstname] [nvarchar](50) NULL,
	[Middlename] [nvarchar](50) NULL,
	[Lastname] [nvarchar](50) NULL,
	[Gender] [nvarchar](10) NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](50) NULL,
	[Position] [nvarchar](100) NULL,
	[Password] [nvarchar](255) NULL,
	[Image] [image] NULL,
	[IsActive] [int] NULL,
	[IsArchived] [int] NULL,
	[DateCreated] [datetime] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Firstname], [Middlename], [Lastname], [Gender], [Email], [Phone], [Position], [Password], [Image], [IsActive], [IsArchived], [DateCreated]) VALUES (5, N'derrick', N'cerda', N'magramo', N'Male', N'rcmagramo@gmail.com', N'6558596', N'sys dev', N'fc0iUkg331qk3V8HY6MWvQ==', 0x, 1, 0, CAST(N'2017-11-28T15:02:32.393' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsArchived]  DEFAULT ((0)) FOR [IsArchived]
GO
/****** Object:  StoredProcedure [dbo].[AuthenticateUser]    Script Date: 5/31/2022 8:44:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AuthenticateUser]
(
	@Email		nvarchar(100),
	@Password	nvarchar(100)
)
AS
BEGIN
	SELECT * FROM Users WHERE Email=@Email AND Password=@Password
END
GO
/****** Object:  StoredProcedure [dbo].[DashboardStats]    Script Date: 5/31/2022 8:44:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
CREATE PROCEDURE [dbo].[DashboardStats]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here

	SELECT(
      SELECT COUNT(*)
	  FROM Users WHERE IsArchived = 0
	  ) AS UsersList,
	  (SELECT COUNT(*)
	  FROM Users WHERE IsActive = 1
	  ) AS ActiveUsers,
	  (SELECT COUNT(*)
	  FROM Users WHERE IsActive = 0 AND IsArchived != 1
	  ) AS InActiveUsers,
	  (SELECT COUNT(*)
	  FROM Users WHERE IsArchived = 1
	  ) AS ArchivedUsers
END

GO
/****** Object:  StoredProcedure [dbo].[DeactivateActivateUser]    Script Date: 5/31/2022 8:44:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeactivateActivateUser] --'1','Activate'
	-- Add the parameters for the stored procedure here
	@UserID bigint,
	@Operation nvarchar(50)
    AS
BEGIN
	IF (@Operation = 'Deactivate') 
		BEGIN
		UPDATE Users SET IsActive = '0' WHERE UserID=@UserID
		END
	ELSE 
		BEGIN
		UPDATE Users SET IsActive = '1' WHERE UserID=@UserID
		END	 
END

GO
/****** Object:  StoredProcedure [dbo].[EditUser]    Script Date: 5/31/2022 8:44:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EditUser] 
	-- Add the parameters for the stored procedure here
	@UserID bigint,
	@Firstname nvarchar(50),
	@Middlename nvarchar(50),
	@Lastname nvarchar(50),
	@Email nvarchar(100),
	@Gender nvarchar(50),
	@Phone nvarchar(100),
	@Position nvarchar(100),
	@Password nvarchar(100),
	@Image image
    AS
BEGIN
	IF (@Password = NULL) 
		BEGIN
		UPDATE Users SET 
		[Firstname] = @Firstname,
		[Middlename] = @Middlename,
		[Lastname] = @Lastname,
		[Email] = @Email,
		[Gender] = @Gender,
		[Phone] = @Phone,
		[Position] = @Position,
		[Image] = @Image
		WHERE UserID=@UserID
		END
	ELSE 
		BEGIN
		UPDATE Users SET 
		[Firstname] = @Firstname,
		[Middlename] = @Middlename,
		[Lastname] = @Lastname,
		[Email] = @Email,
		[Gender] = @Gender,
		[Phone] = @Phone,
		[Position] = @Position,
		[Password] = @Password,
		[Image] = @Image
		WHERE UserID=@UserID
		END	 
END

GO
/****** Object:  StoredProcedure [dbo].[GetActiveUsers]    Script Date: 5/31/2022 8:44:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetActiveUsers]
	-- Add the parameters for the stored procedure here
    AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	SELECT * FROM Users WHERE IsActive='1' AND IsArchived='0' ORDER by DateCreated DESC
END

GO
/****** Object:  StoredProcedure [dbo].[GetArchivedUsers]    Script Date: 5/31/2022 8:44:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetArchivedUsers]
	-- Add the parameters for the stored procedure here
    AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	SELECT * FROM Users WHERE IsArchived='1' ORDER by DateCreated DESC
END

GO
/****** Object:  StoredProcedure [dbo].[GetInActiveUsers]    Script Date: 5/31/2022 8:44:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetInActiveUsers]
	-- Add the parameters for the stored procedure here
    AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	SELECT * FROM Users WHERE IsActive='0' AND IsArchived='0' ORDER by DateCreated DESC
END

GO
/****** Object:  StoredProcedure [dbo].[GetUsers]    Script Date: 5/31/2022 8:44:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUsers]
	-- Add the parameters for the stored procedure here
    AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	SELECT * FROM Users WHERE IsArchived='0' ORDER by DateCreated DESC
END

GO
/****** Object:  StoredProcedure [dbo].[RemoveUser]    Script Date: 5/31/2022 8:44:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RemoveUser] --'1'
	-- Add the parameters for the stored procedure here
	@UserID bigint
    AS
BEGIN
	
		UPDATE Users SET 
		IsArchived = '1',
		IsActive = '0'		
		WHERE UserID=@UserID
		
END

GO
/****** Object:  StoredProcedure [dbo].[SaveUser]    Script Date: 5/31/2022 8:44:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SaveUser]
		   @Firstname nvarchar(50),
		   @Middlename nvarchar(50),
		   @Lastname nvarchar(50),
		   @Email nvarchar(100),
		   @Gender nvarchar(50),
		   @Phone nvarchar(100),
		   @Position nvarchar(100),
		   @Password nvarchar(100),
		   @Image image
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- Insert User Details Here
			INSERT INTO [dbo].[Users]
           ([Firstname]
		   ,[Middlename]
		   ,[Lastname]
		   ,[Gender]
           ,[Email]           
           ,[Phone]
		   ,[Position]
           ,[Password]
           ,[Image]
           ,[DateCreated])
     VALUES
           (@Firstname
		   ,@Middlename
		   ,@Lastname
		   ,@Gender
           ,@Email           
           ,@Phone
		   ,@Position
           ,@Password
           ,@Image
           ,GETDATE())
	

END

GO
USE [master]
GO
